body {
  margin: 0;
  padding: 0;
  color: #484848;
  font-size: 14px;
  font-family: Circular, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
div.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  width: 1000px;
  max-width: 1000px;
  margin: 30px 0;
}
