div.container .filters {
  display: flex;
  align-items: center;
  background-color: white;
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
section.filters button {
  position: absolute;
  right: 30px;
  cursor: pointer;
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: 0;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}
section.filters button:hover {
  opacity: 90%;
}
section.filters div {
  height: 100%;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
ul.popover {
  visibility: hidden;
  opacity: 0;
  transform: translate(0, -30%);
  transition: all 0.3s ease-in-out;
  position: absolute;
  top: 3.6rem;
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  width: 21%;
  list-style: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 1;
}
ul.popover li h2 {
  margin-bottom: 5px;
}
ul.popover li {
  list-style: none;
  line-height: 25px;
}
section.filters div:hover ul.popover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}
section.filters div h3 {
  margin-left: 25%;
  font-weight: 600;
  margin-bottom: -15px;
}
section.filters div h4 {
  margin-left: 25%;
  font-weight: 400;
  font-size: 14px;
}
section.filters div.locations {
  border-right: 1px solid #dddddd;
}
